* {
  color: white;
}

html {
  margin: 0px;
}

body {
  margin: 0px;
}

div{
  margin: 0px;
}

#bgimg {
  background-image: url("spacebg.jpeg");
}

article.intro {
  border: 1px solid black;
  margin: 10px auto;
}

header h1 {
    text-align: center;
}

img {
  height: 180px;
}



